/* Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 {
    position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url(img/b13.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }


#slider_container {
    overflow: hidden;
    background-color: #000;
    position:relative;
    margin:10px 5px 15px 10px;
}

@media(min-width:992px){
    #recent {
        margin:10px 10px 10px 30px;
    }
    #slider_container {
        float:left;
        margin:10px 5px 15px 10px;
    }
}
@media(max-width:992px){
    #slider_container {
        margin-left: auto;
        margin-right: auto;
    }
}
#recent{
    border-bottom: 70px;
}
a#r1{
    font-family: 'VTFMisterPixelRegular', Georgia, cursive;
    font-size: 1.8em;
    color:red;
    font-weight: normal; 
    font-style: normal; 
}

#r4 {
    font-family: 'GrundschriftBold'; 
    font-weight: bold; 
    font-style: normal;
    font-size: 4em;
    color: #FFD119;
}

