#content h1.panel-title{
    font-family: fantasy;
    font-size: 1.86em;
    font-style: oblique;
    line-height: 2em;
    margin-left: 15px;
    color: black;
}


#content a:hover h1 , #content a[aria-expanded=true] h1{
    color: #118;
    font-weight: bold;
}

